# Ignore everything
*

# But not these files...
!.gitignore
!.gitconfig
!.Xresources
!.bashrc
!.config/i3/config
!.config/i3/conky-wrapper
!.config/i3/conky.conf
!.config/i3/colors.html
!.config/lxterminal/lxterminal.conf
!.config/ranger/rc.conf
!.config/ranger/scope.sh
!.conky
!.conkyrc
!.inputrc.vim.disabled
!.profile
!.screenrc
!.subversion/config
!.subversion/servers
!.tmux.conf
!bin/diff3wrap.sh
!bin/diffwrap.sh
!bin/get_if.sh
!bin/toggle_us_ca_keyboard.sh
!bin/weather.sh
!.vimrc
!README.md
!screenshot.png
