[core]
    editor = vim
    pager = less -F -X -R
[color]
    ui = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
    graph = log --decorate --oneline --graph
[difftool "vimdiff"]
    cmd = "vimdiff -R  ${REMOTE} -c ':se noreadonly' ${LOCAL}"
