[core]
    editor = vim
    pager = less -F -X -R
[color]
    ui = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
    graph = log --decorate --oneline --graph
    clean-branches = git checkout master && git pull && git remote prune origin && git branch --merged >/tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -d </tmp/merged-branches
[difftool "vimdiff"]
    cmd = "vimdiff -R  ${REMOTE} -c ':se noreadonly' ${LOCAL}"
[mergetool "vimdiff3"]
      cmd = vim -u ~/.vimrc -f -d -c \"wincmd J\" \"$MERGED\" -R \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[push]
	default = simple
[mergetool]
	prompt = false
[merge]
	tool = vimdiff
