[core]
    editor = vim
    pager = less -F -X -R
[color]
    ui = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool
    l = log --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ci) %C(cyan)<%an>%Creset' --abbrev-commit
    lg = log --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ci) %C(cyan)<%an>%Creset' --abbrev-commit
    graph = log --decorate --oneline --graph
    delete-branch = "!f() {git branch -d $1 && git push origin --delete $1 git && fetch --all --prune} f;"
    clean-branches = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
[difftool "vimdiff"]
    cmd = "vimdiff -R  ${REMOTE} -c ':se noreadonly' ${LOCAL}"
[mergetool "vimdiff3"]
      cmd = vim -u ~/.vimrc -f -d -c \"wincmd J\" \"$MERGED\" -R \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[push]
	default = simple
[mergetool]
	prompt = false
[merge]
	tool = vimdiff
[help]
	autocorrect = 20
