! ----------------------------------------------------------------------------
! Updated: Sat Jul 27 01:25:39 2013
!
! ----------------------------------------------------------------------------

Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull

Xcursor.theme:   Neutral


! urxvt {{{2
! ================================================================================================================================================================
! urxvt --help 2>&1| sed -n '/:  /s/^ */! URxvt*/gp' >> ~/.Xresources
! TERM=dump command man -Pcat urxvt | sed -n '/depth: b/,/^BACKGROUND/p'|sed '$d'| sed 's/@/%-.-%/g; s/\^/%-+-%/g' | sed '/^       [a-z]/s/^ */^/g' | tr -s "\n" \|
! sed -e :a -e 'N;s/\n/@@/g;ta;P;D' | sed 's,\^\([^@]\+\)@*[\t ]*\([^\^]\+\),! \2\n! URxvt*\1\n\n,g' | sed 's,@@           ,\n           ,g' | sed 's,@*$,,g' |sed '/^[^!]/d'

! Create the window with the specified X window geometry [default 80x24]
URxvt*geometry:                         240x84

! True: start as a login shell by prepending a - to argv[0] of the shell; option -ls.  False: start as a normal sub-shell [default]; 
URxvt*loginShell:                       true

! Use the specified colour for the scrollbar [default #B2B2B2]
URxvt*scrollColor:                      #777777

! Set scrollbar style to rxvt, plain, next or xterm. plain is the authors favourite.
URxvt*scrollstyle:                      plain

! True: scroll to bottom when a non-special key pressed.  Special keys are those which are intercepted by rxvt for special handling andnt passed onto the shell; False: dont scroll to bottom
URxvt*scrollTtyKeypress:                true

! True: scroll to bottom when tty receives output; False: do not scroll to bottom when tty receives output
URxvt*scrollTtyOutput:                  false

! True: scroll with scrollback buffer when tty recieves new lines (and scrollTtyOutput is False);  False: do not scroll with scrollback buffer when tty recieves new lines
URxvt*scrollWithBuffer:                 false

! Turn on/off secondary screen (default enabled)
URxvt*secondaryScreen:                  true

! (default enabled). If this option is enabled, scrolls on the secondary screen will change the scrollback buffer and, when secondaryScreen is off, switching to/from the secondary screen will instead scroll the screen up.
URxvt*secondaryScroll:                  true
! (true) When receiving lots of lines, urxvt will only scroll once in a while (around 60x/sec), resulting in fewer updates. This can result in urxvt not ever displaying some of the lines it receives
URxvt*skipScroll:                       true

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar
URxvt*scrollBar:                        false

! place the scrollbar on the right of the window
URxvt*scrollBar_right:                  false

! di5play an rxvt scrollbar with/without a trough
URxvt*scrollBar_floating:               false

! Fade the text by the given percentage when focus is lost
URxvt*fading:                           20

! True: inhibit writing record into the system log file utmp;  False: write record into the system log file utmp [default]
URxvt*utmpInhibit:                      false

! True: set the urgency hint for the wm on receipt of a bell character.  False: do not set the urgency hint [default] urxvt resets the urgency hint on every focus change.
URxvt*urgentOnBell:                     true

! True: use visual bell on receipt of a bell character; option -vb.  False: no visual bell [default]
URxvt*visualBell:                       false

! True: de-iconify (map) on receipt of a bell character.  False: no de-iconify (map) on receipt of a bell character [default].
URxvt*mapAlert:                         true

! True: the mouse wheel scrolls a page full. False: the mouse wheel scrolls five lines [default]
URxvt*mouseWheelScrollPage:             false

! Use the specified colour as the windows background colour [default White]
URxvt*background:                       Black

!  Use the specified colour as the windows foreground colour [default Black]
URxvt*foreground:                       Grey

! Use the specified colour to disp1ay underlined characters when the foreground colour is the default.
URxvt*colorUL:                          yellow

! If set, use the specified colour as the colour for the underline itself. If unset, use the foreground colour
URxvt*underlineColor:                   yellow

! Select the fonts to be used. This is a comma separated list of font names that are checked in order when trying to find glyphs for characters
URxvt*font:                             xft:Inconsolata:size=12:antialias=true:hinting=true,xft:Inconsolata\ for\ Powerline:size=12:antialias=true:hinting=true,Awesome:size=12
URxvt*boldFont:                         xft:Inconsolata:bold:size=12:antialias=true:hinting=true,xft:Inconsolata\ for\ Powerline:size=12:antialias=true:hinting=true,Awesome:size=12
URxvt*italicFont:                       xft:Inconsolata:italic:autohint=true:size=12:antialias=true:hinting=true,xft:Inconsolata\ for\ Powerline:size=12:antialias=true:hinting=true,Awesome:size=12
URxvt*boldItalicFont:                   xft:Inconsolata:bold:italic:autohint=true:size=12:antialias=true:hinting=true,xft:Inconsolata\ for\ Powerline:size=12:antialias=true:hinting=true,Awesome:size=12

! Specify a command pipe for vt100 printer [default lpr(1)].  Use Print to initiate a screen dump to the printer and Ctrl-Print or Shift-Print to include the scrollback
URxvt*print-pipe:                       cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))

! Comma-separated list(s) of perl extension scripts (default: "default") to use in this terminal instance, blank disables
URxvt*perl-ext-common:
URxvt*perl-ext:

rofi.color-enabled: true
rofi.color-window: #2f343f, black, black
rofi.color-normal: #2f343f, #f3f4f5, argb:2000000, #2f343f, #9575cd
rofi.color-active: #2f343f, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
